@import "frappe.css";

* {
  font-family: AurulentSansM Nerd Font;
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px 0px;
  background-color: @surface0;
	margin-left: 0.5rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
}

#workspaces button.active {
  background-color: @mauve;
	color: black;

  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @surface0;
  padding: 0.75rem 0rem;
  margin: 5px 0;
	margin-left: 0.5rem;
}

#clock {
  color: @blue;
  border-radius: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 1rem;
}

#pulseaudio {
  color: @maroon;
	border-radius: 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#custom-power {
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}

#tray {
  border-radius: 1rem;
}
